<%- include('../partials/head') %> 
<%- include('../partials/navbar') %>
<div class="con">
  <h1>This is comment page</h1>
  <a href="/">Start Page</a>
  <a href='/comments/new'>Make new comment</a>
  <ul>
      <% for(let c of comments){ %>
        <li>
          <b><%= c.username %> - <%= c.comment %> </b>
          <a href="/comments/<%= c.id %>">Details</a>
          <a href="/comments/<%= c.id %>/edit">Edit</a>
        </li>
      <% } %> 
  </ul>
</div> 

<%- include('../partials/footer') %> 