<%- include('../partials/head') %> 
<%- include('../partials/navbar') %>
<div class="con">
  <h1>This is Farms details page</h1>
  <a href="/">Start Page</a>
  <a href="/farms">Farms Page</a>
  <h1><%= farm.name %> </h1>
  <ul>
      <li>City:<%= farm.city %> </li>
      <li>Email:<%= farm.email %> </li>
  </ul>
  <h2>Products</h2>
  <ul>
    <% for(let p of farm.products) {%>
      <li><a href="/products/<%= p._id %>"><%= p.name %></a> </li>  
    <% } %> 
  </ul>
  <a href="/farms/<%= farm._id %>/products/new">Add Product</a>
</div> 
<%- include('../partials/footer') %> 